<!DOCTYPE html>
<html>
<head>
	<!-- Make site responsive on mobile/tablet -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ArchApp</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container">
				<a class="navbar-brand" href="/"><i class="fa fa-home"></i> archiApp</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    				<span class="navbar-toggler-icon"></span>
  				</button>
  				<div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
				    <div class="navbar-nav">
						<a class="nav-item nav-link active" href="/projects">Home 
							<span class="sr-only">(current)</span>
						</a>
						<a class="nav-item nav-link" href="#">All Projects</a>
						<a class="nav-item nav-link" href="#">About Us</a>
				    </div>
			    	<form class="form-inline">
						<input class="form-control-sm mr-sm-2" type="search" placeholder="Search Projects" aria-label="Search">
						<button class="btn btn-outline-light btn-sm my-2 my-sm-0" type="submit">Search</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<% if(!currentUser){ %>
							<li><a class="nav-item nav-link" href="/login">Login</a></li>
							<li><a class="nav-item nav-link" href="/register">Sign Up</a></li>
						<% } else { %>
							<li><a class="nav-item nav-link active" href="#">Signed In As <u><%= currentUser.username %></u></a></li>		
							<li><a class="nav-item nav-link" href="/logout">Logout</a></li>
						<% } %>		
					</ul>
				</div>
			 </div>
		</nav>
		<div class="container">