<!DOCTYPE html>
<html>
<head>
	<!-- Make site responsive on mobile/tablet -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ArchApp</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
	<body>
		<div class="container">	

			<h1>WELCOME TO THE LANDING PAGE!</h1>

			<a href="/projects" class="btn btn-lg btn-success">View All Projects</a>

<% include partials/footer %>