<% include ../partials/header %>

<div class="row">
	<div style="width: 30%; margin: 20px auto;">
		<h3 style="text-align: center;">Add a New Project</h3>
		<form action="/projects" method="POST">
			<div class="form-group">
				<label for="name">Name:</label>
				<input class="form-control" type="text" name="name" placeholder="project name">
			</div>
			<div class="form-group">
				<label for="architects">Architects:</label>
				<input class="form-control" type="text" name="architects" placeholder="architects">
			</div>
			<div class="form-group">
			    <label for="location">Location:</label>
			    <input class="form-control" type="text" name="location" id="location" placeholder="Yosemite National Park, CA">
			</div>
			<div class="form-group">
				<label for="year">Year:</label>
				<input class="form-control" min="1800" step="1" type="number" name="year" placeholder="project year">
			</div>
			<div class="form-group">
				<label for="image">Image:</label>
				<input class="form-control" type="text" name="image" placeholder="image">
			</div>
			<div class="form-group">
				<label for="source">Source:</label>
				<input class="form-control" type="text" name="source" placeholder="source">
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<textarea class="form-control" type="text" name="description" rows="4" cols="50"></textarea>
			</div>
			<div class="form-group">
				<input class="btn btn-sm btn-outline-dark" type="submit" value="Submit">
			</div>
		</form>
		<a href="/projects">Go back</a>
	</div>
</div>

<% include ../partials/footer %>